body{
	background:url(../images/background2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}
h1, h2, h3{
	color: rgba(255, 87, 34, 0.87);
}
hr{
	border:1px !important;
}

.middle-form{
	width: 400px;
    margin: 0 auto;
}
.home-div{
	margin-top: 50px;
}
.well{
	margin: 0 auto;
	background-color: rgba(13, 12, 12, 0.33)! important;
	color: white;
	margin-bottom: 50px;
	border: none;
}

.col-md-12{
	background-size: cover;
	background-repeat: no-repeat;
}


.btn{
	background-color: #DD5347;
	border-radius: 0;
	padding: 10px;
	border-color: #DD5347;
}

form{
	color: white;
	text-align: left;
    width: auto;
    margin: auto;
    margin-bottom: 50px;
}
input, select,option{
	background-color: rgba(255, 254, 254, 0.29);
	border: none;
}

.logoImage{
	width: 30px;
	height: 30px;
}

.theader{
	color: white;
	font-size: 20px;
}

.trow{
	background-color: black;
}

.home-text{
	color: #ffffff;
}


#upload-link{
	float: right;
    /* margin-right: 139px; */
    position: absolute;
    left: 41%;
}